body {
  background: url("./img/c.jpg");
  position: relative;
  overflow: hidden;
}
.clock {
  position: absolute;
  color: #fff;
  top: 350px;
  left: 300px;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.function {
  position: absolute;
  top: 420px;
  left: 300px;
  width: 100%;
  height: 100%;
}
.function button {
  background: #000;
  color: #fff;
  border: 1px solid rgb(75, 71, 71);
  outline: none;
  padding: 10px 25px;
  margin: 0px 10px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgb(73, 71, 71);
}

@media screen and (max-width: 400px) {
  body {
    background: url("./img/www.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  .clock {
    position: absolute;
    color: #fff;
    top: 220px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .function {
    position: absolute;
    top: 450px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .function button {
    background: #000;
    color: #fff;
    border: 1px solid rgb(75, 71, 71);
    outline: none;
    padding: 5px 15px;
    margin: 0px 10px;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgb(73, 71, 71);
  }
}
